@model IEnumerable<Afrodite_Sistema.Models.FormaPagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Forma de Pagamento</h1>

<p>
    <a asp-action="Create" class="cadastrar">Cadastrar Forma de Pagamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFormaPagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFormaPagamento)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.FormaPagamentoId" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.FormaPagamentoId" class="btn btn-primary">Detalhes</a> 
                    <a asp-action="Delete" asp-route-id="@item.FormaPagamentoId"class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
