@model Afrodite_Sistema.Models.Clube

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clube</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeClube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoClube.TipoClubeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlano.TipoPlanoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalhesClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalhesClube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorClube)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClubeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
