@model Afrodite_Sistema.Models.Clube

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clube</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeClube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoClube.TipoClubeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlano.TipoPlanoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetalhesClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetalhesClube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorClube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorClube)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClubeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
