@model IEnumerable<Afrodite_Sistema.Models.Clube>

@{
    ViewData["Title"] = "Index";
}

<h1>Clube</h1>

<p>
    <a asp-action="Create">Cadastrar Clube</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Clube
            </th>
            <th>
                Tipo do Clube
            </th>
            <th>
                Tipo do Plano
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalhesClube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorClube)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeClube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoClube.NomeTipoClube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPlano.NomeTipoPlano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalhesClube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorClube)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubeId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.ClubeId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.ClubeId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
