@model IEnumerable<Afrodite_Sistema.Models.PagamentoAgendamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagamento do Agendamento</h1>

<p>
    <a asp-action="Create">Cadastrar Pagamento do Agendamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agendamento)
            </th>
            <th>
               Forma de Pagamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agendamento.AgendamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.NomeFormaPagamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagamentoAgendamentoId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.PagamentoAgendamentoId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.PagamentoAgendamentoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
