@model IEnumerable<Afrodite_Sistema.Models.Procedimento>

@{
    ViewData["Title"] = "Index";
}

<h1>Procedimento</h1>

<p>
    <a asp-action="Create" class="cadastrar">Cadastrar Procedimento</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Procedimento", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: <input type="text" id="pesquisa" name="pesquisa" class="txtpesquisa" />
            <input type="submit" value="Pesquisar" class="botao-pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProcedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProcedimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProcedimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProcedimento)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProcedimentoId" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ProcedimentoId" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.ProcedimentoId" class="btn btn-segundo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
