@model IEnumerable<Afrodite_Sistema.Models.Profissional>

@{
    ViewData["Title"] = "Index";
}

<h1>Profissional</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Profissional", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input type="submit" value="Pesquisar"/>
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProfissional)
            </th>
            <th>
                Tipo Profissional
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfissional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProfissional.TipoProfissionalId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfissionalId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.ProfissionalId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.ProfissionalId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
