@model IEnumerable<Afrodite_Sistema.Models.PagamentoAssinatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssinaturaClube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssinaturaClube.AssinaturaClubeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.FormaPagamentoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagamentoAssinaturaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PagamentoAssinaturaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PagamentoAssinaturaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
