@model IEnumerable<Afrodite_Sistema.Models.PagamentoAssinatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Pagamento Assinatura</h1>

<p>
    <a asp-action="Create">Cadastrar Pagamento Da Assinatura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Assinatura Clube
            </th>
            <th>
                Forma Pagamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssinaturaClube.AssinaturaClubeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPagamento.NomeFormaPagamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagamentoAssinaturaId">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.PagamentoAssinaturaId">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.PagamentoAssinaturaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
